In [1]:
import boto3 
import pandas as pd
import numpy as np

#defining bucket
s3 = boto3.resource('s3')
bucket_name = 'data445-ashlyn-bucket' 
bucket = s3.Bucket(bucket_name)

#defining csv file
file_key = 'Real_Estate.csv'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body') 

#reading csv file
house_price = pd.read_csv(file_content_stream)
house_price.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [2]:
#dropping no and transaction_date
house_price = house_price.drop(columns = ['No', 'transaction_date'], axis = 1)
house_price.head()

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [3]:
from sklearn.model_selection import train_test_split

#defining the input and target variables
X = house_price.drop(columns = ['house_price_of_unit_area'], axis =1)
Y = house_price['house_price_of_unit_area']

In [5]:
#splitting the data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [9]:
#building the linear model
from sklearn.linear_model import LinearRegression

lm_md = LinearRegression().fit(X_train, Y_train)
lm_md.coef_

array([-2.54870065e-01, -4.39253752e-03,  1.07423876e+00,  2.32142940e+02,
       -1.48973167e+01])

In [10]:
lm_md.intercept_

-3942.708402569477

In [11]:
#predicting on test
preds = lm_md.predict(X_test)
preds

array([47.58652757, 43.38924393, 12.16447904, 46.10409883, 31.35330489,
       32.90425161, 46.06965771, 14.15380075, 48.45799102, 54.56762343,
       42.08995626, 38.29616411, 26.44378037, 45.94222268, 45.6890883 ,
       42.08995626, 43.10237746, 44.91324048, 40.22021149, 25.14240598,
       42.12905287, 38.57100387, 34.08514454, 31.15497987, 46.52842383,
       27.7756884 , 39.42551962, 27.61089432, 31.02754484, 47.69892109,
       46.11872669, 45.62602494, 35.31672407, 39.69694425, 32.49585159,
       42.78761742, 23.53451583, 15.79347436, 41.93703423, 30.59469903,
       46.57939784, 48.19623288, 44.497504  , 51.82860312, 42.7194145 ,
       40.72666233, 32.72259509, 33.93585588, 34.82902654, 15.61049421,
       15.14869167, 45.99319669, 45.25857984, 49.62164758, 36.83564649,
       15.02886417, 42.11544327, 40.07420136, 41.29211745, 49.851118  ,
       33.14324572, 32.69710808, 43.76537956, 51.05737468, 47.58652757,
       34.60951051, 15.5850072 , 15.76798735, 38.2335354 , 37.88271237,
       41.29634121, 36.35935434, 48.50896504, 40.74792583, 23.16088321,
       51.93055114, 33.04558413, 33.2064694 , 30.95108382, 50.09827357,
       15.37756219, 45.38184089, 40.8011763 ])

In [15]:
#computing the mse
mse = np.mean(np.power(preds - Y_test,2))
mse

46.412344551005084